<!DOCTYPE html>
<html ng-app="characterApp">
	<head>
		<title>Brain Children</title>
		<meta charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body ng-controller="characterController">

	<!-- HEADING BOX -->

		<div class="content-container container">
			<h1 class="border-box heading-box centered-text">Brain Children</h1>
			<div class="border-box content-box">
				<div class="centered-text">

			<!-- ADD CHARACTER FORM -->

					<h3>Add Character</h3>
					<form>
						<input ng-model="charName" type="text" name="name" placeholder="name...">
						<button class="brown-button soloButton" type="button" ng-click="charSubmit()">Submit</button>
					</form>
				</div>
			</div>

			<!-- LIST OF CHARACTERS -->

			<div class="border-box content-box">
				<div>
					<h2 class="centered-text">My Characters</h2>
				</div>
				<div class="row centered-text">
					<div class="display-inline">
						<ul class="col-xs-6 col-sm-4 col-md-*" ng-repeat="object in characters">
							<li><h3>{{object.charName}}</h3>
								<ul>
									<li class="inline-link" ng-click="viewCharSheet($index)" ng-repeat="ref in object.charSheets">{{ref.sheetName}}</li>
									<li>
										<button ng-click="selectChar($index)" class="brown-button soloButton" type="button">Add sheet</button>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- TEMPLATE SELECTION BUTTONS -->

			<div ng-show="showButtons" class="border-box content-box">
				<div class="centered-text">
					<div class="inline-button display-inline" ng-click="selectSheet($index)" ng-repeat="ref in refs">
						<button class="brown-button" type="button">{{ref.sheetName}}</button>
					</div>
				</div>
			
			<!-- REF SHEET FORM -->

				<form ng-show="ref.active" class="centered-text" ng-repeat="ref in refs">
					<h2 class="centered-text">{{selectedSheet}} for {{selectedChar}}</h2>
					<div ng-repeat="field in ref.fieldsArray">
						<div class="question">{{field.question}}</div>
						<textarea class="answer" ng-model="field.answer"></textarea>
					</div>
					<button ng-click="saveSheet($index)" class="brown-button soloButton" type="button">Save</button>
				</form>
			</div>

			<!-- REF SHEET VIEW -->

			<div ng-show="ref.active" ng-repeat="ref in userRefs" class="border-box content-box">
				<h2 class="centered-text">{{ref.sheetName}} for {{ref.character}}</h2>
				<div ng-repeat="field in ref.fieldsArray">
					<div class="question"><strong>{{field.question}}:</strong></div>
					<div class="answer">{{field.answer}}</div>
				</div>
				<button class="brown-button soloButton" type="button">Edit</button>
			</div>
		</div>
	</body>
</html>