*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	letter-spacing: 0.15rem;
}

html{
	font-size: 15px;
}

body{
	font-family: Verdana, sans-serif;
	color: rgb(255,255,240);
    background-image: url("books.jpg");
   	background-size: cover;
	background-attachment: fixed;
} 

.content-container {
	min-height: 100vh;
	max-width: 800px;
}

.border-box{
	border: 6px ridge rgb(96,47,39);
	padding: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.content-box{
	background-color: rgba(144,84,45,0.65);
}

.heading-box{
	background-image: url("bookshelfbrown.jpg");
}

h1,h2,h3{
	font-family: 'Tangerine', cursive;
	letter-spacing: 1px;
}

h1{
	font-size: 3rem;	
}

h2{
	font-size: 2.25rem;	
}

h3{
	font-size: 1.75rem;	
}

ul{
	list-style-type: none;
}

/*-=-=-=-=-=-=-=
TEXT AREA
-=-=-=-=-=-=-=*/

textarea,input{
	color: rgb(111,55,15);
	padding: 0.2rem;
}


/*-=-=-=-=
BUTTONS
-=-=-=-=*/

.brown-button {
	background: linear-gradient(rgb(56,28,8),rgb(111,55,15),rgb(56,28,8));
	color: rgb(255,255,255);
	border-style: none;
	padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}

.brown-button:hover {
	background: linear-gradient(rgb(111,55,15),rgb(56,28,8),rgb(111,55,15));
	color: rgb(255,255,255);
}

.inline-button {
	margin-bottom: 0.4rem;
}

.soloButton {
	border-radius: 5px;
	margin: 0.4rem;
}

/*-=-=-=-=-=-=
USE ANYWHERE
-=-=-=-=-=-=*/

.centered-text {
	text-align: center;
}

.display-inline{
	display: inline-block;
}