*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
	color: #440075;
    background-image: url("books.jpg");
   	background-size: cover;
	background-attachment: fixed;
} 

.content-container {
/*	background-color: rgba(144,84,45,0.65);*/
	min-height: 100vh;
	max-width: 800px;
}

.border{
	background-color: rgba(144,84,45,0.65);
	border: 5px solid rgb(101,39,30);
	padding: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

ul{
	list-style-type: none;
}

.brown-button {
	background: linear-gradient(rgba(56,28,8),rgb(111,55,15),rgb(56,28,8);
	color: rgb(255,255,255);
	border-style-type: none;
}

.brown-button:hover {
	background: linear-gradient(rgb(111,55,15),rgb(56,28,8),rgb(111,55,15);
	color: rgb(255,255,255);
}

.inlineButton {
	display: inline-block;
}

.soloButton {
	border-radius: 5px;
}